<!-- <div class="container">
{{today | date:'fullDate'}}
</div>
<app-calender></app-calender> -->

<!-- <div class="calendar-month">
  <h2>May</h2>
  <table>

    <tr>  <th>Sunday</th>      <th>Monday</th>      <th>Tuesday</th>      <th>Wednesday</th>      <th>Thursday</th>      <th>Friday</th>      <th>Saturday</th> </tr>
    <tr>  <td><mat-card></mat-card></td>            <td><mat-card></mat-card></td>            <td><mat-card>1</mat-card></td>            <td><mat-card>2</mat-card></td>              <td><mat-card>3</mat-card></td>             <td><mat-card>4</mat-card></td>           <td><mat-card>5</mat-card></td>   </tr>
    <tr>  <td><mat-card>6</mat-card></td>           <td><mat-card>7</mat-card></td>           <td><mat-card>8</mat-card></td>            <td><mat-card>9</mat-card></td>              <td><mat-card>10</mat-card></td>            <td><mat-card>11</mat-card></td>          <td><mat-card>12</mat-card></td>  </tr>
    <tr>  <td><mat-card>13</mat-card></td>          <td><mat-card>14</mat-card></td>          <td><mat-card>15</mat-card></td>           <td><mat-card>16</mat-card></td>             <td><mat-card>17</mat-card></td>            <td><mat-card>18</mat-card></td>          <td><mat-card>19</mat-card></td>  </tr>
    <tr>  <td><mat-card>20</mat-card></td>          <td><mat-card>21</mat-card></td>          <td><mat-card>22</mat-card></td>           <td><mat-card>23</mat-card></td>             <td><mat-card>24</mat-card></td>            <td><mat-card>25</mat-card></td>          <td><mat-card>26</mat-card></td>  </tr>
    <tr>  <td><mat-card>27</mat-card></td>          <td><mat-card>28</mat-card></td>          <td><mat-card>29</mat-card></td>           <td><mat-card>30</mat-card></td>             <td><mat-card>31</mat-card></td>            <td><mat-card></mat-card></td>            <td><mat-card></mat-card></td>  </tr>
  </table> -->
  <!-- <mat-grid-list>
    <mat-grid-tile *ngFor="let num of nums">{{nums}}</mat-grid-tile>
  </mat-grid-list> -->


<!-- </div> -->


<mat-card class="calendar">
  <mat-calendar></mat-calendar>
</mat-card>
