<div class="body">
  <mat-card class="loginCard">
    <img src="../../assets/images/archive.png" alt="">
    <div class="title">ArcHive</div>
    <br>
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle>Sign in with your iACADEMY email to gain access to Archive.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button (click)="login()" name="button" class="signIn">GOOGLE</button>
    </mat-card-content>
    <div class="user" *ngIf="AfService.user | async as user">
      <img mat-card-avatar [src]="user.photoURL" alt="userPicture" class="avatar">

      <h3>{{user.displayName}}</h3>
      <h4>{{user.email}}</h4>
      <!-- <img [src]="user.photoURL" alt=""> -->
      <button mat-raised-button (click)="AfService.logout()" name="button">logout</button>
    </div>
  </mat-card>
</div>
