.col-app-item{
    flex: 1 1 auto;
}
.col-app-unorgList{
  width: 20%;
}
.container{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.col{
  width: 20%;
}
.home{
  width: 100%;
  min-height: 80vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-item{
  margin-bottom: 20px;
}
.app-list{
  width: 60vw;
}

// .submit{
//   visibility: hidden;
// }
