<mat-tab-group class="demo-tab-group" color="secondary">
  <mat-tab label="Home">
    <ng-template mat-tab-label>
      <i class="material-icons">home</i></ng-template>
    <div class="container">
      <div class="col-app-unorgList">
        <app-unorganizedlist></app-unorganizedlist>
      </div>
      <div class="col-app-item">
        <app-item></app-item>
        <app-dailylog></app-dailylog>
      </div>
      <div class="col">
        <app-monthlylog></app-monthlylog>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Future Log">
  </mat-tab>
  <mat-tab label="Monthly Log">
  </mat-tab>
</mat-tab-group>

<!-- <div class="text-center">
  <h2></h2>
</div> -->
