<mat-tab-group class="demo-tab-group" color="primary">
  <mat-tab label="Home">
    <ng-template mat-tab-label><i class="material-icons">home</i></ng-template>
    <div class="container">
      <div class="col col-app-unorgList">
        <app-unorganizedlist></app-unorganizedlist>
      </div>
      <div class="col col-item">
        <app-item></app-item>
        <app-dailylog></app-dailylog>
      </div>
      <div class="col col-month">
        <app-monthlylog></app-monthlylog>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Weekly">
    <app-unorganizedlist></app-unorganizedlist>
  </mat-tab>
  <mat-tab label="Monthly">
    <app-monthlylog></app-monthlylog>
  </mat-tab>
  <mat-tab label="This Year">
    <app-futurelog></app-futurelog>
  </mat-tab>
</mat-tab-group>
