
button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0px;
}
.itemTitle{
  padding: 10px;
}

mat-card{
  word-break: break-all;
  padding: 14px;
  margin-bottom: 2px;
  display: flex;
  flex: 1 1 auto;
  z-index: 1;
  // transition: all .25s ease;
}

.loading{
  width: 100%;
  display: flex;
  justify-content: center;
}
.spacer{
  flex: 2;
}
i.material-icons{
  color: rgba(163, 163, 163, .5);
  cursor: pointer;
}
i.material-icons:hover{
  color: rgba(163, 163, 163, 1);
  cursor: pointer;
}

.container{
  // padding: 20px;
  // overflow-y: auto;
  // min-height: 50vh;
  // max-height: 80vh;
  // overflow-x: hidden;
  flex-direction: column;
}
