.container{
  // background-color: rgb(241, 241, 241);
  // background-image: url("dotgrid.jpg");
  // background-size: 20%;
  // background-repeat: repeat;


  // padding: 10px;
  display: flex;
  flex-direction: column;
}


.spacer {
  flex: 1 1 auto;
}

.logout-button{
  color: black;
}
.background{
  background-color: rgb(240, 240, 240);

}
