/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/css/angular-calendar.css';
*{
  padding: 0px;
  margin: 0px;
}

body{
  // background-color: rgba(111, 210, 151, .5);
  // padding: 20px;
}
mat-tab-group .mat-ink-bar{
  background-color: white;
}

mat-tab-group .mat-tab-label{
  // color: white;
  height: 5vh;
}
mat-tab-group .mat-tab-labels{
  // background-color: #01579b;
  // background-color: #070049;
}
a{
  text-decoration: none;
}
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus{
  background-color:rgba(7, 0, 70, .1);
}
.mat-expansion-indicator {
      visibility: hidden;
    }
.mat-form-field-underline{
  background-color: rgba(255, 255, 255, 0);
}
mat-list-item:hover{
  background-color: rgba(200, 200, 200, 0.5);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4281E8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
