@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');
@include mat-core();

$archiveBlue: (
          50: rgba(7, 0, 70, .6),
          100: #4281E8,
          200: #4d4dff,
          300: #e57373,
          400: #ef5350,
          500: #f44336,
          600: #e53935,
          700: #d32f2f,
          800: #c62828,
          900: #b71c1c,
          A100: #ff8a80,
          A200: #ff5252,
          A400: #ff1744,
          A700: #d50000,
          contrast: (
            50: $black-87-opacity,
            100: $black-87-opacity,
            200: $black-87-opacity,
            300: $black-87-opacity,
            400: $black-87-opacity,
            500: white,
            600: white,
            700: white,
            800: $white-87-opacity,
            900: $white-87-opacity,
            A100: $black-87-opacity,
            A200: white,
            A400: white,
            A700: white,
          )
        );

$custom-primary: mat-palette($archiveBlue, 100);
// $custom-primary: mat-palette($mat-light-blue, 900);
$custom-accent:  mat-palette($mat-light-blue, 200);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

$custom-typography: mat-typography-config(
  $font-family: 'Lobster, cursive',
  $headline: mat-typography-level(32px, 48px, 700),
  $title: mat-typography-level(44px, 48px, 500),
  $body-1: mat-typography-level(16px, 24px, 500)
);


$alt-primary: mat-palette($mat-grey, 800);
$alt-accent:  mat-palette($mat-cyan, 800);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

@include angular-material-theme($custom-theme);
// @include mat-card-theme($custom-theme);
.alternative{
  @include angular-material-theme($alt-theme);
}
.lobster{
  @include angular-material-typography($custom-typography);
}

@include mat-toolbar-typography($custom-typography);
